<!DOCTYPE html>
<html lang="en" class="dark">
{{> head}}

<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        {{> body}}
      </div>
    </div>
  </div>
  <div style="text-align: center;">
    <span class="help cr has-text-centered" style="color:white; margin-bottom: 13px">All right reserved by <strong>Hanif Hayihama (<a href="http://iamhanif.tk" style="color:white; text-decoration: underline;">iamhanif.tk</a>)</strong></span>
  </div>
</body>

</html>
